    @font-face {
    font-family: 'TT05';
    font-style: normal;
    font-weight: normal;
    src: local('TT05'), url('../fonts/TT0589M_.woff') format('woff');
    }

    .navbar {
        font-family: 'TT05';
		border: 0;
		border-radius: 0;
		margin-bottom: 0;
		font-size: 12px;
        letter-spacing: 5px;
        background-color: #FFFFFF;
	}
	.navbar-nav  li a:hover {
		color: #FF00DD !important;
    }
    .anketos-bg {
        background-color: white;
        padding: 20px;

    }
    .long-bg {
        background-color: #FF00DD;
    }
    .carousel-inner img {
        margin: auto;
    }
    .carousel{
        background-color: #FF00DD !important;
    }
    .center{
        text-align: center;
    }
    .col-patraukimas{
        margin-top: 10%;
        margin-bottom: 10%;
    }
    header {
        background-image:url(../images/logo.png);
        height: 339px;
        width: 100%;
        background-size: initial;
        background-repeat: no-repeat;
        background-position: 30% 70%;
        overflow: hidden;
        position: relative;
    }
      
    .group {
        position: absolute;
        width: 100%;
        color: white;
        bottom: 30%;
        margin: 40px;
        text-align: center;
        display: inline-block;
    }
    h1 span { 
        background-color: #FF00DD;
        padding: 10px 10px 5px 5px; 
        line-height: 160%;
    }
    .totop{
        color: #FF00DD;
        margin-top: 20px;
        font-size: 20px;
    }
    .apacia{
        height: 100px;
    }
    .bottomicons{
        color: #FF00DD;
        margin-top: 20px;

    }
