    @font-face {
    font-family: 'TT05';
    font-style: normal;
    font-weight: normal;
    src: local('TT05'), url('../fonts/TT0589M_.woff') format('woff');
    }

    .navbar {
        font-family: 'TT05';
		padding-top: 10px;
		padding-bottom: 10px;
		border: 0;
		border-radius: 0;
		margin-bottom: 0;
		font-size: 12px;
        letter-spacing: 5px;
        background-color: #FFFFFF !important;
	}
	.navbar-nav  li a:hover {
		color: #FF00DD !important;
    }

    .logo{
       margin-left: 20%;
       margin-top: 1%;
       position: relative;
    }
    .logo h1{
        position: absolute;
        background-color: #FFFFFF !important;
        padding: 20px;
        color: white;

    }
    .anketos-bg {
        background-color: white;
    }
    .long-bg {
        background-color: #FF00DD;
    }
    .carousel-inner img {
        margin: auto;
    }
    .carousel{
        background-color: #FF00DD !important;
    }
   